<div class ="container">
  <div class="row">
    <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-1">
     <h1>welcome to Bookers!!</h1>
      <p>
        In <strong>Bookers</strong>,<br>
        you can share and exchange your opinions , inpressions , and emotions<br>
        about various books!
      </p>
    </div>
  </div>
</div>

